# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

[prune]
  go-tests = true
  unused-packages = true

  [[prune.project]]
    name = "github.com/kubernetes-sigs/federation-v2"
    go-tests = false
    unused-packages = false

[[constraint]]
  name = "github.com/kubernetes-sigs/federation-v2"
  version="v0.0.9"

[[override]]
  name="k8s.io/apimachinery"
  version="kubernetes-1.13.1"

[[override]]
  name="k8s.io/client-go"
  version="kubernetes-1.13.1"

[[override]]
  name="k8s.io/api"
  version="kubernetes-1.13.1"

[[override]]
  name="k8s.io/apiserver"
  version="kubernetes-1.13.1"

[[override]]
  name="k8s.io/kube-aggregator"
  version="kubernetes-1.13.1"

[[override]]
  name="k8s.io/apiextensions-apiserver"
  version="kubernetes-1.13.1"

[[override]]
  name="sigs.k8s.io/controller-runtime"
  version="v0.1.8"

[[override]]
  name="sigs.k8s.io/controller-tools"
  version="v0.1.8"

[[override]]
  name = "github.com/Azure/go-autorest"
  version = "v11.1.0"

# For dependency below: Refer to issue https://github.com/golang/dep/issues/1799
[[override]]
name = "gopkg.in/fsnotify.v1"
source = "https://github.com/fsnotify/fsnotify.git"
version="v1.4.7"

